body {
  font-family: "Open Sans"; }

.button-wh {
  padding: 23px 51px;
  margin-bottom: 220px;
  color: #151515;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  border-radius: 50px;
  border: none;
  box-shadow: -1px 5px 24px 1px rgba(189, 227, 239, 0.75);
  background-color: #fcfcfc; }
  .button-wh:hover {
    cursor: pointer;
    box-shadow: -1px 5px 24px 1px rgba(240, 239, 254, 0.75);
    background-color: #fcfcfc;
    background-image: linear-gradient(26deg, #8c84f9 0%, #a165f4 100%);
    border: none; }

.section-title {
  display: flex;
  margin-bottom: 117px;
  justify-content: center;
  color: #333333;
  font-size: 50px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.5px; }

.header {
  margin-left: 0;
  width: 100%;
  background: url(../img/banner-bgr.png) top no-repeat;
  background-size: cover; }
  .header-logo {
    margin-top: 80px;
    margin-left: -75px; }
    .header-logo__img {
      height: 38px; }
  .header-action {
    width: 371px;
    margin-top: 80px;
    display: inline-block;
    border-radius: 50px;
    box-shadow: -1px 5px 24px 1px rgba(189, 227, 239, 0.75);
    background-color: #ffffff;
    display: flex; }
    .header-action-wrap {
      display: flex;
      justify-content: flex-end; }
  .header-search {
    width: 50%;
    display: inline-block;
    color: #151515;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    padding-left: 40px; }
    .header-search:before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 70%;
      width: 1px;
      background-color: #aeaeae; }
    .header-search__form {
      background: url(../img/interface/search.png) left no-repeat;
      border: none;
      padding: 24px;
      padding-left: 40px;
      font-size: 18px;
      width: 100%;
      box-sizing: border-box; }

.banner {
  margin-bottom: 220px; }
  .banner-text {
    justify-content: flex-end;
    transform: translateX(110px); }
    .banner-text__bl {
      margin-top: 200px;
      color: #090000;
      font-family: Roboto;
      font-size: 90px;
      font-weight: 700; }
    .banner-text__wh {
      margin-bottom: 30px;
      color: #ffffff;
      font-family: Roboto;
      font-size: 90px;
      font-weight: 700; }
    .banner-text__sm {
      font-family: Roboto;
      font-size: 40px;
      font-weight: 500;
      text-transform: uppercase;
      color: #fcfcfc;
      margin-bottom: 85px; }

.highlight {
  color: #fbf934; }

input {
  outline: none; }

.goods-card {
  position: relative;
  margin-bottom: 35px; }
  .goods-card__action-like {
    display: none; }
  .goods-card__action-comment {
    display: none; }
  .goods-card__img {
    height: 260px;
    margin-bottom: 43px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .goods-card__name {
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.18px; }
  .goods-card__price {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    color: #333333;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.25px; }
  .goods-card__btn {
    display: none;
    box-shadow: -1px 5px 24px 1px rgba(240, 239, 254, 0.75);
    background-color: #fcfcfc;
    background-image: linear-gradient(26deg, #8c84f9 0%, #a165f4 100%);
    border: none;
    border-radius: 50px;
    padding: 22px 45px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700; }
  .goods-card__btn:hover{
    background-color: #fff;
    background-image: none;
    border: 2px solid #a165f4;
    padding: 20px 43px;
    color: #a165f4;}
  .goods-card:hover {
    box-shadow: -1px 5px 48px 3px rgba(221, 223, 224, 0.75); }
    .goods-card:hover .goods-card__price {
      color: #8c84f9;
      /*padding-bottom: 73px; */
    }
    .goods-card__to-chart{
      height: 20px;
      display: flex;
      justify-content: center;
    }
    .goods-card:hover .goods-card__btn {
      cursor: pointer;
      display: block;
      position: absolute;
      bottom: -7%; }
    .goods-card__action{
      height: 45px;
    }
    .goods-card:hover .goods-card__action {
      display: flex;
      justify-content: space-between;
      padding-top: 23px;
      padding-left: 21px;
      padding-right: 19px; }
      .goods-card:hover .goods-card__action-like {
        cursor: pointer;
        display: inline-block; }
        .goods-card:hover .goods-card__action-like-img {
          height: 21px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 7px; }
        .goods-card:hover .goods-card__action-like-qty {
          height: 21px;
          display: inline-block;
          vertical-align: middle; }
      .goods-card:hover .goods-card__action-comment {
        cursor: pointer;
        display: inline-block; }
        .goods-card:hover .goods-card__action-comment-img {
          height: 21px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px; }
        .goods-card:hover .goods-card__action-comment-qty {
          height: 21px;
          display: inline-block;
          vertical-align: middle; }

.showcase {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(76px);
  box-shadow: -1px 5px 48px 3px rgba(237, 235, 253, 0.75);
  background: #ffffff;
  position: relative;
  z-index: 2; }
  .showcase-menu {
    width: 100%;
    box-shadow: -1px 5px 48px 3px rgba(239, 239, 240, 0.75);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    padding-top: 27px;
    padding-bottom: 23px; }
    .showcase-menu__list {
      display: inline-block;
      list-style: none;
      margin: 0; }
    .showcase-menu__item {
      display: inline-block; }
    .showcase-menu__link {
      display: block;
      width: 100%;
      margin-right: 48px;
      margin-left: 48px;
      justify-content: space-around;
      text-decoration: none;
      color: #333333;
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      font-size: 15px;
      letter-spacing: 0.15px;
      letter-spacing: 0.2px; }
      .showcase-menu__link:hover {
        cursor: pointer;
        text-shadow: -2px 9px 5px rgba(213, 200, 247, 0.75);
        color: #b394fa; }
  .showcase-title {
    padding-top: 96px; }

.bags {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-295px);
  box-shadow: -1px 5px 48px 3px rgba(237, 235, 253, 0.75);
  background: #ffffff; }
  .bags-title {
    padding-top: 96px; }

.watches{
  padding-bottom: 50px; }
.watches-card__img {
  height: 284px; }

.brands {
  margin-top: -290px; }
  .brands-title {
    margin-bottom: 41px;
    margin-top: 258px;
    justify-content: flex-start;
    letter-spacing: 1.5px; }
  .brands-subtitle {
    margin-bottom: 24px;
    font-size: 25px;
    letter-spacing: 0.25px;
    line-height: 34px;
    color: #333333;
    font-size: 20px;
    letter-spacing: 3.2px;
    line-height: 26px; }
    .brands-subtitle__link {
      text-decoration: none;
      color: #8d83f9;
      font-size: 25px;
      letter-spacing: 0.25px;
      line-height: 34px; }
  .brands-text {
    width: 512px;
    color: #888888;
    font-size: 16px;
    /*letter-spacing: 0.2px;*/
    letter-spacing: 0.16px;
    line-height: 26px; }
  .brands-img {
    position: relative;
    margin-top: 118px;
    margin-right: 154px;
    display: flex; }
    .brands-img__round {
      position: absolute;
      height: 488px; }

.feadback {
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #8c84f9 0%, #a165f4 100%);
  position: relative;
  z-index: 1; }
  .feadback-bg {
    margin-top: 170px;
    position: absolute;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, 50%);
    opacity: 0.04;
    color: #fefefe;
    font-family: "Roboto";
    font-size: 150px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 1.5px; }
  .feadback-title {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 175px;
    padding-bottom: 84px;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700; }
  .feadback-form {
    padding-bottom: 124px; }
    .feadback-form__form {
      width: 847px;
      height: 71px;
      display: flex;
      vertical-align: middle;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      background-color: #ffffff;
      border: none;
      border-radius: 50px; }
    .feadback-form__input {
      display: inline-block;
      padding: 23px 65px;
      width: 70%;
      margin-left: 27px;
      color: #333333;
      font-size: 20px;
      font-weight: 400;
      border: none;
      border-radius: 50px; }
    .feadback-form__btn {
      display: inline-block;
      width: 30%;
      margin: 6px;
      padding: 13px 65px;
      background-color: #a165f4;
      background-image: linear-gradient(28deg, #8c84f9 0%, #9c6cf5 100%);
      border: none;
      border-radius: 50px;
      color: #fffefe;
      font-size: 20px;
      font-weight: 700; }
      .feadback-form__btn:hover {
        cursor: pointer;
        background-color: #fff;
        background-image: none;
        border: 2px solid #a165f4;
        padding: 11px 63px;
        color: #a165f4;}

.footer {
  margin: 0;
  background-color: #f6f5f7; }
  .footer-copyright {
    display: flex;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 24px;
    color: #777777;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.23px; }
